
body {
    padding:3px;
}

#mapcanvas {
    height: 400px;
    width: 560px;
}


nav {
    width: 100%;
    text-align: center;
}

section {
    float: left;
    width: 70%;
}

article {
    border:1px solid black;
}

aside {
    float: right;
    width: 30%;
}

footer {
    width: 100%;
}